PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/apple-store
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
SMTP_EMAIL=your_smtp_email@gmail.com
SMTP_PASSWORD=your_smtp_app_password
JWT_SECRET=your_jwt_secret_key
TELEGRAM_CHAT_ID=your_telegram_chat_id
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ADMIN_EMAIL=admin@apple-store.com
ADMIN_PASSWORD=admin123
